@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");

body {
  background-color: #cd890c;
  font-family: Rubik Distressed, cursive;
  background-image: linear-gradient(225deg, #000, #cd890c 90%, #2b86c5);
  height: 100vh;
}
